services:
  database:
    image: postgres:15.4
    ports:
      - '5432:5432'
    environment:
      - 'POSTGRES_USER=nsd'
      - 'POSTGRES_PASSWORD=nsd'
      - 'POSTGRES_DB=notification-service-db'
      - "POSTGRES_INITDB_ARGS='--encoding=UTF-8'"
    volumes:
      - database:/var/lib/postgresql/data

volumes:
  database:
