services:
  zookeeper:
    image: zookeeper:latest
    ports:
      - "2181:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
     image: confluentinc/cp-kafka:7.5.0
     container_name: kafka
     depends_on:
       - zookeeper
     ports:
       - "9092:9092"
     environment:
       KAFKA_BROKER_ID: 1
       KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      # Listeners
       KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
       KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092

      # Single-node dev setup
       KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
       KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
       KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

  database:
    image: postgres:15.4
    ports:
      - '5432:5432'
    environment:
      - 'POSTGRES_USER=nsd'
      - 'POSTGRES_PASSWORD=nsd'
      - 'POSTGRES_DB=notification_service_db'
      - "POSTGRES_INITDB_ARGS='--encoding=UTF-8'"
    volumes:
      - database:/var/lib/postgresql/data

volumes:
  database:
