{:notification-server {:port #long #or [#env NOTIFICATION_SERVICE_PORT 3004]}
 :message-server      {:port #long #or [#env MESSAGE_SERVICE_PORT 3005]}
 :websocket-server    {:port #long #or [#env WEBSOCKET_SERVICE_PORT 3006]}
 :htmx                {:server {:port 3003}}
 :db-spec             {:jdbcUrl  "jdbc:postgresql://localhost:5432/notification_service_db"
                       :username "nsd"
                       :password "nsd"
                       :dbtype "postgresql"
                       :dbname "notification_service_db"
                       :host "localhost"
                       :port 5432
                       :user "nsd"
                       :maximumPoolSize 3}
 :message-kafka-producer-config {"bootstrap.servers" "localhost:9092"
                                 ;; setting buffer memory to 20mb
                                 "buffer.memory" "20484736"}
 :message-kafka-topic "ns_message"
 :message-kafka-consumer-config {:bootstrap-servers "localhost:9092"
                                 :topic-name "ns_message"
                                 :group-id "ns_message_consumer_group"
                                 :consumer-poll-time 100}} ;; consumer poll-time in milliseconds
